@model GroupViewModel

@{
    ViewBag.Title = $"{Model.Name} publications";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Publications.Count > 0)
    {
        @foreach (var publication in Model.Publications)
        {
            <div class="card" style="width: 26rem; height: 32rem; margin: 5px;">
                @Html.HiddenFor(p => publication.Id)
                <a asp-controller="Profile" asp-action="User" asp-route-id="@publication.User.UserName">
                    <h5 class="card-title mt-1" style="padding: 5px;">@publication.User.FirstName @publication.User.LastName</h5>
                </a>
                <img src="@publication.ImageUrl" class="card-img-top" alt="..." style="height: 240px; width: 390px;">

                <div class="card-body">
                    <h4 class="card-title text-center">@publication.Title</h4>
                    <hr />
                    <h6 class="card-text" style="padding-bottom: 5px;">Category: @Model.Category</h6>
                    <div>
                        <p class="card-text">@publication.UsersPublications.Count likes</p>
                    </div>
                    <div>
                        <p class="card-text">@publication.PublicationsComments.Count comments</p>
                    </div>
                    <div id="pub-like-btn">
                        @if (publication.UsersPublications.Any(up => up.UserId == User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value))
                        {
                            <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@publication.Id">
                                <button type="submit" id="likeButton" class="btn btn-primary">
                                    <img src="/lib/bootstrap-icons/heart-fill.svg" alt="Bootstrap" width="35" height="35">
                                </button>
                            </form>
                        }
                        else
                        {
                            <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@publication.Id">
                                <button type="submit" id="likeButton" class="btn btn-primary">
                                    <img src="/lib/bootstrap-icons/heart.svg" alt="Bootstrap" width="35" height="35">
                                </button>
                            </form>
                        }
                    </div>
                    <div id="pub-det-btn">
                        <form class="input-group-sm" asp-controller="Publication" asp-action="Details" asp-route-id="@publication.Id" method="get">
                            <button type="submit" class="btn btn-primary">
                                <img src="/lib/bootstrap-icons/chat-dots.svg" alt="Bootstrap" width="35" height="35">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h5 class="card-title mt-1">No publications yet.</h5>
    }


    <a class="btn btn-primary" asp-area="" asp-controller="Publication" asp-action="Add" asp-route-id="@Model.Id">Add new publication</a>
</div>

<script src="/js/bootstrap.min.js"></script>