@model PublicationViewModel


<div class="card" style="width: 26rem; height: 32rem; margin: 5px;">
    @Html.HiddenFor(p => p.Id)
    <a asp-controller="Profile" asp-action="User" asp-route-id="@Model.UserName">
        <h5 class="card-title mt-1" style="padding: 5px;">@Model.FirstName @Model.LastName</h5>
    </a>
    <img src="@Model.ImageUrl" class="card-img-top" alt="..." style="height: 240px; width: 390px;">

    <div class="card-body">
        <h4 class="card-title text-center">@Model.Title</h4>
        <hr />
        <h6 class="card-text" style="padding-bottom: 5px;">Category: @Model.Category</h6>
        <div>
            <p class="card-text">@Model.UsersPublications.Count likes</p>
        </div>
        <div>
            <p class="card-text">@Model.PublicationsComments.Count comments</p>
        </div>
        <div id="pub-like-btn">
            @if (Model.UsersPublications.Any(up => up.UserId == User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value))
            {
                <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@Model.Id">
                    <button type="submit" id="likeButton" class="btn btn-primary">
                        <img src="/lib/bootstrap-icons/heart-fill.svg" alt="Bootstrap" width="35" height="35">
                    </button>
                </form>
            }
            else
            {
                <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@Model.Id">
                    <button type="submit" id="likeButton" class="btn btn-primary">
                        <img src="/lib/bootstrap-icons/heart.svg" alt="Bootstrap" width="35" height="35">
                    </button>
                </form>
            }
        </div>
        <div id="pub-det-btn">
            <form method="get" class="input-group-sm" asp-controller="Publication" asp-action="Details" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                <a class="btn btn-primary" asp-controller="Publication" asp-action="Details" asp-route-id="@Model.Id" asp-route-information="@Model.GetInformation()">
                    <img src="/lib/bootstrap-icons/chat-dots.svg" alt="Bootstrap" width="35" height="35">
                </a>
            </form>
        </div>

        @*<div class="row">
            @foreach (var comment in Model.PublicationsComments)
            {
                <partial name="_CommentPartial" model="@comment.Comment" />
            }
        </div>*@

    </div>
</div>

@*@section Scripts {
        <script>
            $('#likeButton').on('click', e => {
                $.get('/api/statistics', (data) => {
                    $('#totalLikes').text(data.totalLikes + " likes");
                    $('#statistics').removeClass('d-none');
                    $('#likeButton').hide();
                });
            });
        </script>
}*@