@model IEnumerable<PublicationViewModel>

@{
    ViewBag.Title = "Selected User Publications";
}


<h2 class="text-center">
    <img src="@Model.First().User.ProfilePicture!.ImageToString" style="height: 50px; width: 50px; border-radius: 50%; margin-top: 10px;" />
    @Model.Select(p => p.User.UserName).First().ToString()
</h2>
<h3 class="text-center">@ViewBag.Title</h3>
<hr />

<div class="row">
    @foreach (var publication in Model)
    {
        <div class="card" style="width: 420px; margin: 5px;">
            <a asp-controller="Profile" asp-action="User" asp-route-id="@publication.User.UserName">
                <div>
                    <div style="float: left; margin-bottom: 10px; margin-right: 10px;">
                        <img src="@publication.User.ProfilePicture!.ImageToString" style="height: 50px; width: 50px; border-radius: 50%; margin-top: 10px;" />
                    </div>
                    <div style="padding-top: 15px;">
                        <h5 class="card-title mt-1" style="padding: 5px;">@publication.User.FirstName @publication.User.LastName</h5>
                    </div>
                </div>
            </a>
            <img src="@publication.ImageUrl" class="card-img-top" alt="..." style="height: 240px; width: 390px;">

            <div class="card-body">
                <h4 class="card-title text-center">@publication.Title</h4>
                <hr />
                <h6 class="card-text" style="padding-bottom: 5px;">Category: @publication.Category</h6>
                <div>
                    <p class="card-text">@publication.UsersPublications.Count likes</p>
                </div>
                <div>
                    <p class="card-text">@publication.PublicationsComments.Count comments</p>
                </div>
                <div id="pub-like-btn">
                    @if (publication.UsersPublications.Any(up => up.UserId == User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value))
                    {
                        <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@publication.Id">
                            <button type="submit" id="likeButton" class="btn btn-primary">
                                <img src="/lib/bootstrap-icons/heart-fill.svg" alt="Bootstrap" width="35" height="35">
                            </button>
                        </form>
                    }
                    else
                    {
                        <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@publication.Id">
                            <button type="submit" id="likeButton" class="btn btn-primary">
                                <img src="/lib/bootstrap-icons/heart.svg" alt="Bootstrap" width="35" height="35">
                            </button>
                        </form>
                    }
                </div>
                <div id="pub-det-btn">
                    <form class="input-group-sm" asp-controller="Publication" asp-action="Details" asp-route-id="@publication.Id" method="get">
                        <button type="submit" class="btn btn-primary">
                            <img src="/lib/bootstrap-icons/chat-dots.svg" alt="Bootstrap" width="35" height="35">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>