@model IEnumerable<PublicationViewModel>

@{
	ViewBag.Title = "Random Publications";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div id="main-card" class="text-center row main-card">
	@foreach (var publication in Model)
	{
        <div class="card" style="width: 26rem; height: 32rem; margin: 5px;">
            @Html.HiddenFor(p => publication.Id)
            <a asp-controller="Profile" asp-action="User" asp-route-id="@publication.User.UserName">
                <h5 class="card-title mt-1" style="padding: 5px;">@publication.User.FirstName @publication.User.LastName</h5>
            </a>
            <img src="@publication.ImageUrl" class="card-img-top" alt="..." style="height: 240px; width: 390px;">

            <div class="card-body">
                <h4 class="card-title text-center">@publication.Title</h4>
                <hr />
                <h6 class="card-text" style="padding-bottom: 5px;">Category: @publication.Category</h6>
                <div>
                    <p class="card-text">@publication.UsersPublications.Count likes</p>
                </div>
                <div>
                    <p class="card-text">@publication.PublicationsComments.Count comments</p>
                </div>
                <div id="pub-like-btn">
                    @if (publication.UsersPublications.Any(up => up.UserId == User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value))
                    {
                        <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@publication.Id">
                            <button type="submit" id="likeButton" class="btn btn-primary">
                                <img src="/lib/bootstrap-icons/heart-fill.svg" alt="Bootstrap" width="35" height="35">
                            </button>
                        </form>
                    }
                    else
                    {
                        <form class="input-group-sm" id="likeButton" asp-controller="Publication" asp-action="LikePublication" asp-route-id="@publication.Id">
                            <button type="submit" id="likeButton" class="btn btn-primary">
                                <img src="/lib/bootstrap-icons/heart.svg" alt="Bootstrap" width="35" height="35">
                            </button>
                        </form>
                    }
                </div>
                <div id="pub-det-btn">
                    <form method="get" class="input-group-sm" asp-controller="Publication" asp-action="Details" asp-route-id="@publication.Id" asp-route-information="@publication.GetInformation()">
                        <a class="btn btn-primary" asp-controller="Publication" asp-action="Details" asp-route-id="@publication.Id" asp-route-information="@publication.GetInformation()">
                            <img src="/lib/bootstrap-icons/chat-dots.svg" alt="Bootstrap" width="35" height="35">
                        </a>
                    </form>
                </div>

                @*<div class="row">
            @foreach (var comment in Model.PublicationsComments)
            {
            <partial name="_CommentPartial" model="@comment.Comment" />
            }
            </div>*@

            </div>
        </div>
	}
</div>